
h1 {
    font-size: 72pt;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.L {
    color: rgb(255, 255, 255);
    font-size: 72pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Z{
    color: rgb(255, 255, 255);
    font-size: 72pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "venice-blvd", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header_two {
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}
.background {
    background-image: url(../img/TextureLabs_Paper_176L.jpg);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.paragraph_one {
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}
