* {
  outline: 1px solid rgb(72, 0, 255);
}

.buttons{
    background-color: transparent;
    color: #ffff;
    font-family: "robto slab", sans-serif;
    font-size: 48pt;
}

h1 {
    font-size: 72pt;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.L {
    color: rgb(255, 255, 255);
    font-size: 72pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Z{
    color: rgb(255, 255, 255);
    font-size: 72pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "venice-blvd", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header_two {
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}
.body {
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    max-width: 1920px;
    margin: auto;
}

.container{
    fill: 100%;
    background-image: url(../img/TextureLabs_Paper_176L.jpg); 
    background-size: 150%;
    width: 100%;
    align-items: center;
    justify-items: center;
    padding: 0px;
   
/*need to make the photo smaller and justy it to the right, add awards? */
}
.me_photo{
justify-content: right;
width:300px
}

.paragraph_one {
    font-family: "roboto slab";
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}
