* {
  outline: 1px solid rgb(72, 0, 255);
}
h1 {
    font-size: 72pt;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.L {
    color: rgb(255, 255, 255);
    font-size: 72pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Z{
    color: rgb(255, 255, 255);
    font-size: 72pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "venice-blvd", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.header_two {
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}
.body {
    margin: 0px;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

.container{
    align-items: center;
    justify-items: center;
    height: 1080px;
    width: 1920px;
    min-width: 360px;
    max-width: 1920px;
    background-image: url(../img/TextureLabs_Paper_176L.jpg);
    background-size: 120%;
}

.paragraph_one {
    font-family: "roboto slab";
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}
