body{
  margin: 0%;
  background-color: aquamarine;
  background-image: url("../img/background_paper.jpg");
  background-size: cover;
}

nav {
    border: 1px solid purple;
    justify-content: center;
    display: flex;
    font-family: "alta-california", sans-serif;
    color: #fAf8f7;
    font-size: 80px;
    margin: 0px;
    background-color: #D72740;
    width: 100%;
    height: 50px;
    height: 100px;
}

nav a:link {
    translate: calc(0px -90px);
    text-decoration: none;
    color: #fAf8f7;
    padding: 0px 80px;
   
    align-items: center;
}


h1 {
    transform: translate(41px,-20px);
    margin: 0;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 170px;
    color: #fAf8f7;
    display: flex;
    max-width: auto;
    z-index: 8;
}

.phone {
    color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

footer {
    background-color: #D72740;
    width: 100%;
    height: 50px;
}
