*{
    outline: 1px solid red;
    transition: .3 ease-in-out;
}

#grid-layout {
    background-color: aqua;
    border: 4px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(50, 0, 0);
    aspect-ratio: 1/1;
}

body {
    position: relative;
    background-color: #000000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(../img/background_paper.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    
    
}

nav {
    border: 1px solid purple;
    justify-content: center;
    display: flex;
    font-family: "alta-california", sans-serif;
    font-size: 80px;
    margin: 0px;
    background-color: #D72740;
    width: 100%;
    height: 50px;
    height: 100px;
}

nav a:link {
    display: flex;
    translate: calc(0px -90px);
    text-decoration: none;
    color: #000000;
    padding: 0px 80px;
   
    align-items: center;
}

main {
    width: 100%;
    border: 3px solid brown;
    display: flex;  
    flex-direction: column;
    text-align: left;
    position: relative;
}

footer {
    background-color: #D72740;
    width: 100%;
    height: 50px;
    display: flex;
    position: sticky;
}

h1 {
    transform: translate(44px,0px);
    margin: 0;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 170px;
    color: #fAf8f7;
    display: flex;
    max-width: auto;
    z-index: 8;
}

/*SMILODONS*/

.smilodons {
    margin: 0;
    display: flex;
    position: relative;
    /* background-color: rgb(68, 255, 0);  */
     filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
    transform: translate(130px, 20px);
    rotate: 7deg;
    z-index: 10;
    max-width: auto;
    width: 723.39px;
    height: 610.04px;
    transition: transform 0.8s ease-in-out;
    animation-name: smilodons;
}

.smilodons:hover {
   transform : scale(1.1) translate(130px, 90px) rotate(-12deg);
}

.smilodons-page {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.smilodons_description {
    height: 248.43px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}

.smilodons-logo {
    position: relative;
    transform: translate(650px, -822px);
    scale: calc(.6);
}

.scroll-gallery {
    margin-top: 600px;  /* Adjusted from translate to margin-top for relative positioning */
    position: relative;  /* Changed from absolute to relative so footer adjusts below it */
    display: flex;
    overflow-x: auto; 
    gap: 10px; 
    padding: 10px;
    width: 100%;
    height: 400px;  /* Reduced height */
}

.scroll-gallery img {
    flex-shrink: 0; 
    width: auto; 
    height: auto;
    object-fit: cover;
}

.scroll-gallery::-webkit-scrollbar {
    display: none;
}

/*SMILODONS END*/

.game_week {
    display: flex;
    background-color: rgb(255, 0, 255);
    transform:translate(708px,-370px);
    rotate: -6.55deg;
    box-shadow: 10px 3px 10px 5px rgba(0,0,0,0.75);
    z-index: 1;
    width: 487.33px;
    height: 634.16px;
    transition: .8s ease-in-out;
}

.game_week:hover {
    transform: scale(1.1) translate(720px,-370px) rotate(10deg);
}

.game_week_description {
    display: flex;
    z-index: 6;
    height: 248.43px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}

.phone {
    display: flex;
    transform: translate(500px, -350px);
    z-index: 2;
    scale: calc(1.1);
    width: 1124.11px;
    height: 750px;
    /*background-color: chartreuse;*/
}

.game-week-SU {
    display: flex;
    scale: calc(.6);
    position: absolute;
    transform: translate(-40px,375px);
    scale: calc(.6);
    rotate: 6.55deg;
    z-index: 1;
}

.game-sketch {
    display: flex;
    position: relative;
    /*background-color: rgb(0, 255, 305);*/
    transform: translate(600px, -150px);
    rotate: -6.55deg;
    z-index: 2;
    width: 487.33px;
    height: 634.16px;

}

.scroll-gallery-game-week {
    display: flex;
    transform: translate(0px, -150px);
    position: relative;
    display: flex;
    overflow-x: auto; 
    gap: 10px; 
    padding: 10px;
    width: 1420px;
    height: 650px; 
    z-index: 1;
    margin: 40px;
}

.scroll-gallery-game-week::-webkit-scrollbar {
    display: none;
}

.hunan_house {
    display: flex;
    background-color: rgb(255, 149, 0);
    rotate: 7.4deg;
    transform: translate(200px,-757px);
    box-shadow: 10px 3px 10px 5px rgba(0,0,0,0.75);
    z-index: 3;
    width: 540px;
    height: 715px;
    transition: .8s ease-in-out;
    animation-name: hunan_house;
}

.hunan_house:hover {
    transform: scale(1.1) translate(-30px,-657px) rotate(-10deg);
}

.type_booklet {
    position: absolute;
    display: flex;
    background-color: rgb(255, 0, 111);
    transform: translate(900px, -1000px);
    box-shadow: -10px 3px 10px 5px rgba(0,0,0,0.75);
    rotate: -8.8deg;
    z-index: 3;
    width: 502.98px;
    height: 777.34px;
    transition: .8s ease-in-out;
}

.type_booklet:hover {
    transform: scale(1.1) translate(1000px, -900px) rotate(10deg);
}

.senior_posters {
    position: absolute;
    display: flex;
    background-color: rgb(30, 0, 255);
    transform: translate(90px, -900px);
    rotate: 11.18deg;
    z-index: 5;
    width: 533px;
    height: 710.65px;
    transition: .8s ease-in-out;
}

.menu {
    display: none;
}

.Mobile_Works {
    display: none;
}


/* About me page */

.Z{ 
    display: flex;
    color: #fAf8f7;
    font-size: 130pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

.L {
    display: flex;
    color: #fAf8f7;
    font-size: 130pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 12px;
    padding-right: 17px;
}

.my_name {
    display: flex;
    transform: translate(44px,0px);
    margin: 0;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 170px;
    color: #fAf8f7;
    max-width: auto;
    z-index: 8;
}

h2{
    font-family: "venice-blvd", sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    color: #fAf8f7;
    padding: 0px;
    padding-bottom: 10px;
    margin-left: 44px;
    width: 706.04px;
;
}

.me_photo{
    display: flex;
    width: 740px;
    height: 579px;
    transform: translate(760px, -492px);
}

.paragraph_one {
    transform: translate(0px, -20px) rotate(.7deg);
    display: flex;
    z-index: 6;
    height: 120px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}

.paragraph_two {
    transform: translate(0px, -20px) rotate(.7deg);
    display: flex;
    z-index: 6;
    height: 120px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}

.paragraph_three {
    transform: translate(0px, -20px);
    display: flex;
    z-index: 6;
    height: 100px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}


/*contact page */

.contact-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Two inputs side-by-side */
.row {
  display: flex;
  gap: 10px;
}

.row input {
  width: 50%;
}

/* Input + textarea styling */
input,
textarea {
  background-color: #d9d9d9; /* light gray */
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  outline: none;
}

textarea {
  height: 120px;
  resize: none;
}

::placeholder {
  color: #555;
}

input:focus,
textarea:focus {
  background-color: #cfcfcf;
}

input, textarea {
  border-radius: 0; /* removes rounded corners */
}

@media (max-width: 768px) {

    body {
        background-size: cover;

    }

    nav a:link { display: none;
        translate: calc(0px -50px);
        padding: 0px 50px;
    }

    nav {
        justify-content: left;
        font-size: 20px;
        height: 80px;
    }

    .Mobile_Works {
        color: black;
        padding: 0px 20px;
        display: block;
        font-size: 75px;
        transform: translate(0px, -12px);
    }

    h1 {
        display: none;
    }
    
    .details-page-h1 {
        display: block;
        font-family: "alta-california", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 88px;
        color: #fAf8f7;
        transform: translate(20px, 0px);
    }

    .smilodons {
        scale: 1.1;
        width: 350.32px;
        height: 295.43px;
        transform: translate(60px,45px);
    }

    .smilodons:hover {
        transform: scale(1.14) translate(59px, 45px) rotate(-12deg);
    }
        
    .smilodons-page {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .smilodons_description {
        height: 137px;
        width: auto;
        font-family: "reboto slab", serif;
        justify-content: left;
        font-size: 18px;
        color: #fAf8f7; 
        margin: 20px;
       
    }

    .smilodons-logo {
        position: relative;
        transform: translate( -400px, -700px);
        scale: calc(.35);
        color: aqua;
    }

    .scroll-gallery {
        transform: translate(0px, 800px);
        position: absolute;
        display: flex;
        overflow-x: auto; 
        gap: 10px; 
        padding: 10px;
        width: 100%;
        height: 450px; 
    }

    .scroll-gallery img {
        flex-shrink: 0; 
        width: auto; 
        height: auto;
        object-fit: cover;
    }

    .scroll-gallery::-webkit-scrollbar {
        display: none;
    }

    .game_week {
        width: 314.11px;
        height: 392.64px;
        transform:translate(100px,-70px);
    }

    .game_week:hover {
        transform: scale(1.1) translate(120px,-30px) rotate(10deg);
    }

    .game_week_description {
    display: flex;
    z-index: 6;
    height: 248.43px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}

.phone {
    display: flex;
    transform: translate(500px, -350px);
    z-index: 2;
    scale: calc(1.1);
    width: 1124.11px;
    height: 750px;
    /*background-color: chartreuse;*/
}

.game-week-SU {
    display: flex;
    scale: calc(.35);
    position: absolute;
    transform: translate(-800px,375px);
    rotate: 6.55deg;
    z-index: 1;
}

.game-sketch {
    scale: calc(.6);
    display: flex;
    position: relative;
    /*background-color: rgb(0, 255, 305);*/
    transform: translate(-100px, -300px);
    rotate: -6.55deg;
    z-index: 2;
    width: 487.33px;
    height: 634.16px;

}

.scroll-gallery-game-week {
    display: flex;
    transform: translate(0px, -150px);
    position: relative;
    display: flex;
    overflow-x: auto; 
    gap: 10px; 
    padding: 10px;
    width: 1420px;
    height: 650px; 
    z-index: 1;
    margin: 40px;
}

.scroll-gallery-game-week::-webkit-scrollbar {
    display: none;
}

    .hunan_house {
        width: 320px;
        height: 400px;
        transform: translate(60px,-140px);
    }

    .hunan_house:hover {
        transform: scale(1.1) translate(30px,-140px) rotate(-10deg);
    }
    
    .type_booklet {
        position: relative;
        scale: 1.1;
        width: 268.84px;
        height: 415.48px;
        transform: translate(130px,-140px);
    }
    
    .type_booklet:hover {
        transform: scale(1.14) translate(130px,-140px) rotate(10deg);
    }

    .senior_posters {
        position: relative;
        scale: 1.1;
        width: 316.05px;
        height: 421.4px;
        transform: translate(35px,-170px) rotate(0deg);
    }

    .senior_posters:hover {
        transform: scale(1.1) translate(50px,-170px) rotate(-5deg);
    }

/* About me page */

.Z{ 
    transform: translate(-82px);
    position: absolute;
    display: flex;
    color: #fAf8f7;
    font-size: 76pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}

.L {
    transform: translate(-82px,100px);
    position: absolute;
    display: flex;
    color: #fAf8f7;
    font-size: 76pt;
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 12px;
    padding-right: 17px;
}

.my_name {
    transform: translate(126px);
    position: relative;
    flex-direction: column;
    display: flex;
    margin: 0;
    height: 187px;
    width: 372px;
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    color: #fAf8f7;
    max-width: auto;
    z-index: 8;
}

h2{
    transform: translate(0px,100px);
    font-family: "venice-blvd", sans-serif;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    color: #fAf8f7;
    padding: 0px;
    padding-bottom: 10px;
    margin-left: 44px;
    width: 706.04px;
;
}

.me_photo{
    display: flex;
    width: 396px;
    height: 309.9px;
    transform: translate(10px, -492px);
}

.paragraph_one {
    transform: translate(0px, -20px) rotate(.7deg);
    display: flex;
    z-index: 6;
    height: 120px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}

.paragraph_two {
    transform: translate(0px, -20px) rotate(.7deg);
    display: flex;
    z-index: 6;
    height: 120px;
    width: 706.04px;
    font-family: "reboto slab", serif;
    justify-content: left;
    font-size: 24px;
    color: #fAf8f7; 
    margin-left: 44px;
}




}


/* Imported Css */

.container {
  position: sticky;
  transform: translate(0px, -350px);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  align-items: center;
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  align-items: center;
  float: left;
  width: 33%;
  height: auto;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

