/* * {

    outline: 1px solid magenta;
} */

body {

    font-size: 18pt;
}

.center {

    text-align: center;
}


.blue {

    color: blue;
}

.red {
    
    color: red;
}

.pink {

    color: pink;
}

.bold {

    font-weight: bold;
}

.italic {

    font-style: italic;
}

.orange {

    color: #ff8400;
}

.western {

    font-family: "kuhlman-vf", sans-serif;
    font-variation-settings: "SEED" 0, "wdth" 100;
}

.lightShade {

    /* background-color: rgb(220, 220, 220); */

}

.darkShade {

    /* background-color: rgb(168, 168, 168); */

}

h1#pageTitle { 

    color: red;
}

.h3 {

    font-family: 'brush up';
}

ifraome {
background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}