#ssn{
    color: red;
}
#statussResult{
    color: blue;
    text-decoration: dashed;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
} */

.blue {
    color: blue;
}

.red{
    color: red;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.italic{
    font-style: italic;
}

.orange{
    color: orange;
}

.pink{
    color: rgb(255, 64, 169);
}

.center{
    text-align: center;
}