:root {
    font-size: 24px;
}

/* #grid-containier {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

img {
    width: 100%;
    height: auto;
} */

main {

    display: grid;
    grid:"side header header header"
       "side menu menu menu"
       "side page page page"
       "side footer footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: menu;
}

article {
    grid-area: page;
}

aside {
    grid-area: side;
}

footer {
    grid-area: footer;
}

header,nav,article,footer,aside {
 border: 5px solid black;
 padding: 0.7rem;
}


