:root {

font-size: 18pt;

}

#grid-container {

    display: grid;
    grid-template-columns:1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    width: 80vw;
    background-color: rgb(50, 0, 0);
    gap: 0.5rem;
    padding: 0.5rem;
    aspect-ratio: 1/1;

}

#grid-container div {

    background-color: white;
    padding: 0.5rem;

}

#grid-container div:nth-last-of-type(odd) {

    background-color: rgb(255, 83, 83);
    padding: 0.5rem;

}

#grid-container div:nth-last-of-type(even) {

    background-color: rgb(83, 255, 238);
    padding: 0.5rem;

}

#grid-container div:hover {

    background-color: royalblue;

}

#grid-container div:nth-last-of-type(odd):hover {

    background-color: rgb(211, 221, 253);

}


/*
#grid-container div:nth-child() {

    grid-column: 2/4;
    grid-row: 3/4;

}
*/