:root {
    font-size: 20pt;
}

div {
    width: 150px;
    height: 150px;
    outline: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


div:nth-of-type(1) {
    box-sizing: border-box;

    background-color: lightcoral;
    
    width: 100vw;
}

div:nth-of-type(2) {
    box-sizing: content-box;

    background-color: lightblue;

    padding: 20px;

    width: 100vw;
}

