* {

    outline: 3px solid magenta;
}

#maincontainer {

    width: 100vw;
    height: 100vh;

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center;

}



#chessboard {

    aspect-ratio: 1 / 1;
    width: 50vw;
    max-width: 90vh;
    max-height: 90vh;
    display: flex;
    flex-direction: column;

}

#chessboard > div {
    height: 12.5%;
    display: flex;
    flex-direction: row;
    outline: 3 px solid magenta;
}



#chessboard div div {

background-color: rgba(255, 19, 19, 0.588);
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
color: white;
Flex-grow: 1;
width: 12.5%;

}


#chessboard div:nth-of-type(even) div:nth-of-type(even) {
    background-color: rgb(236, 68, 110);
}

#chessboard div:nth-of-type(odd) div:nth-of-type(odd) {
    background-color: rgb(248, 167, 132);
}

#seven > div:nth-of-type(3) {
    background-color: rgb(252, 239, 164);
}


/* #chessboard div div:nth-child(2n) {
    background-color: white;
} */